<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head><title>Stazione meteo</title>
    <META CONTENT="150; url=meteofarlocco.tk" HTTP-EQUIV="Refresh">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <style>html {
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin: 0px auto;
        color: #eeeeee;
        background-color: #444444;
    }

    body {
        margin-top: 50px;
    }

    h1 {
        color: #03d7fc;
        margin: 50px auto 30px;
        text-align: center;
    }

    p {
        font-size: 24px;
        color: #444444;
        margin-bottom: 10px;
    }</style>
</head>
<body>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<h1>Meteo farlocco</h1>
<div id="webpage" th:utext="${'&#x1f4a7 Umidità: ' + humidity + '%' + '<br>' + '&#x1f321 Temperatura: ' + temperature + '°C' + '<br>' + '&#x1f321 Temperatura percepita: ' + heatIndex + '°C' + '<br>' + '&#x1f4a6 Punto di rugiada (dew point): ' + dewPoint + '°C (Potrebbe esserci un errore nella formula, non fidatevi. Se non funziona prendetevela con Wikipedia)' + '<br>' + '&#x1f701 L''aria viene percepita come ' + howAirFeels + ' (Idem come sopra)' + '<br>' + '&#x1f550 Ultimo aggiornamento: ' + lastUpdateTimestamp}" >
</div>
</body>
</html>